/* 
 * My97 DatePicker 4.6
 * 皮肤名称:AAN
 */
 
/* 日期选择容器 DIV */
.WdateDiv{
	width:236px;
	background-color:#fff;
	border:#D2D2D2 1px solid;
	padding:2px;
    padding:0;
    border-left:none;
    -webkit-box-shadow: #666 0px 0px 10px;

-moz-box-shadow: #666 0px 0px 10px;
}
/* 双月日历的宽度 */
.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

/****************************
 * 导航图标 全部是A标签
 ***************************/
.WdateDiv .NavImg a{
	cursor:pointer;
	display:block;
	width:16px;
	height:16px;
	margin-top:1px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:url(img.gif) no-repeat;
}
.WdateDiv .NavImgl a{
	float:left;
	background:url(img.gif) no-repeat -16px 0px;
}
.WdateDiv .NavImgr a{
	float:right;
	background:url(img.gif) no-repeat -32px 0px;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:url(img.gif) no-repeat -48px 0px;
}
/****************************
 * 年份月份相关
 ***************************/
/* 年份月份栏 DIV */
.WdateDiv #dpTitle{
	height:24px;
	padding:1px;
    padding:0;
    color:#fff;
	border:#d0d7d8 1px solid;
    border:none;
	background:url(bg.jpg);
	margin-bottom:2px;
    margin-bottom:0;
    border-left:1px solid #F5F5F5;
}
/* 年份月份输入框 INPUT */
.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	border:0px;
	height:16px;
	width:50px;
	color:#fff;
	background-color:transparent;
	cursor:pointer;
}
/* 年份月份输入框获得焦点时的样式 INPUT */
.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	border:#939393 1px solid;
	font-weight:bold;
	color:#034c50;	
	height:16px;
	width:50px;
}
/* 菜单选择框 DIV */
.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#d0d7d8 1px solid;
	display:none;
}
/* 菜单的样式 TD */
.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	color:#666;
}
/* 菜单的mouseover样式 TD */
.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#ccc;
}
/* 菜单无效时的样式 TD */
.WdateDiv .invalidMenu{
	color:#aaa;
}
/* 年选择框的偏移 DIV */
.WdateDiv .YMenu{
	margin-top:16px;
}
/* 月选择框的偏移 DIV */
.WdateDiv .MMenu{
	margin-top:16px;
	*width:62px;
}
/* 时选择框的位置 DIV */
.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}
/* 分选择框的位置 DIV */
.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}
/* 秒选择框的位置 DIV */
.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

/****************************
 * 周相关
 ***************************/
 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }
/****************************
 * 星期,日期相关
 ***************************/
 /* 星期栏 TR */
.WdateDiv .MTitle{
	color:#fff;
	background-color:#d5e5f2;
}
/* 日期栏表格 TABLE */
.WdateDiv .WdayTable{
	line-height:20px;	
	color:#5b636c;
	background-color:#fcfcfc;
	border-bottom:#DBDBDB 1px solid;
    border:none;
    border-left:1px solid #F5F5F5;
}
/* 日期格的样式 TD */
.WdateDiv .Wday{
	cursor:pointer;
}
/* 日期格的mouseover样式 TD */
.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#ccc ;
}
/* 周末日期格的样式 TD */
.WdateDiv .Wwday{
	cursor:pointer;
	color:#ab1e1e;
   color:#ed696c;
}
/* 周末日期格的mouseover样式 TD */
.WdateDiv .WwdayOn{
	cursor:pointer;
	background-color:#74d2d9;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:#3498db;
}
.WdateDiv .Wselday{
	background-color:#b0d4f3;
    color:#000000;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}
/* 其他月份的日期 */
.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#ccc;	
}
.WdayTable tr td {
     border-left:1px solid #F0F0F0;
    border-bottom:1px solid #F0F0F0;
    font-family:Arial;
    font-size:13px;
}
.WdayTable .MTitle td {
    border-left:none;
    color:#738391;
}
/* 其他月份的日期mouseover样式 */
.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#C0EBEF;	
}
/* 无效日期的样式,即在日期范围以外日期格的样式,不能选择的日期 */
.WdateDiv .WinvalidDay{
	color:#aaa;
}

/****************************
 * 时间相关
 ***************************/
/* 时间栏 DIV */
.WdateDiv #dpTime{
	
}
/* 时间文字 SPAN */
.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#497F7F;
}
/* 时间输入框 INPUT */
.WdateDiv #dpTime input{
	height:16px;
	width:18px;
	text-align:center;
	color:#333;
	border:#61CAD0 1px solid;	
}
/* 时间 时 INPUT */
.WdateDiv #dpTime .tB{
	border-right:0px;
}
/* 时间 分和间隔符 ':' INPUT */
.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}
/* 时间 秒 INPUT */
.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}
/* 时间右边的向上按钮 BUTTON */
.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
}
/* 时间右边的向下按钮 BUTTON */
.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -48px -16px;
}
/****************************
 * 其他
 ***************************/
 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;
	margin-top:3px;
    margin-bottom:3px;
     border-left: 1px solid #D2D2D2;
}
.WdateDiv .dpButton{ 
	height:20px;
	width:45px;
	padding:2px;
    text-align:center;
   padding-top:0;
	border:#e8f2fa 1px solid;
	background-color:#E8F2FB;
	color:#405568;
    margin-right:3px;
    cursor:pointer;
}
    .WdateDiv .dpButton:hover {
        border:#bcd5ec 1px solid;
        
    }