/*主体样式结束*/
#container {
    min-width: 1200px;
    width: 100%;
    z-index: 1;
    position:relative;
}
#container .cbg{width:100%;height:3px;background:url("../img/topbg.png") repeat-x scroll left top #eaeced;}

.containerHideLeft {
    background-position: left top !important;
}
.LeftCol {
    background:none;
    float: left;
    left: 0;
    width: 190px;
}
.MainCol {
    background-color: #999;
    margin-left:190px;
    padding-bottom: 0;
    
}
.MainCol-nbg{
    background-color: transparent;
}
.MainCol .content {
    background: #eaeced;
    margin-left: 0;
    padding:0px 10px 0px 10px;
    width: auto;
}

#container .contentTop {
    background: #eaeced url("../img/topbg.png") repeat-x scroll left top ;
    margin-left: 0;
    padding:0px 10px 0px 10px;
    width: auto;
}
#container .content .wrap {
    overflow: hidden;
    
}
#container #folderBtn {
    cursor: pointer;
    height:63px;
    position: absolute;
    top: 48%;
    width:17px;
    z-index:20;
	margin-left: 5px;
}
* html #container #folderBtn {
    margin-left: -4px;
}
#container .icoLeft {
    background: url("../img/slidebt.png") left top no-repeat;
}
    #container .icoLeft:hover {background: url("../img/slidebt_s.png") left top no-repeat;
    }
#container .icoRight {
    background: url("../img/slidebt.png") left bottom no-repeat;
}
#container .icoRight:hover {
    background: url("../img/slidebt_s.png") left bottom no-repeat;
}
.containerHideLeft .LeftCol {
    display: none;
    width: 0;
}
.containerHideLeft .MainCol {
    height: 100%;
    margin-left: 0;
  
}
.topInfo {
    padding: 0 12px;
}
